/*******************************************************
*
Theme Name:     Schwarz IT, Probeprojekt
Theme URI:
Description:
Version:       1.0
Author:        Maja Kopsch
License:       none (public domain)
Tags:          CSS Responsive Probeprojekt, 4 Spalten, Spalten in voller Breite, responsiv
*
*******************************************************/


/**
 * Desktop
 */
@media all {
    .container-fluid {
        margin: 0 88px;
    }

    .container {
        max-width: 1200px;
        margin: 0 auto;
    }

    .container-navi {
        width: calc(100% - 196px);
        margin: 0 88px;
    }

    .grid {
        background-color: lightgrey;
    }

    .row {
        width: 100%;
        box-sizing: border-box;
        display: flex;
        flex: 0 1 auto;
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 16px;
    }

    .row.reverse {
        flex-direction: row-reverse;
    }

    .col.reverse {
        flex-direction: column-reverse;
    }

    .col-dt,
    .col-dt-1,
    .col-dt-2,
    .col-dt-3,
    .col-dt-4,
    .col-dt-5,
    .col-dt-6,
    .col-dt-7,
    .col-dt-8,
    .col-dt-9,
    .col-dt-10,
    .col-dt-11,
    .col-dt-12 {
        box-sizing: border-box;
        flex: 0 0 auto;
    }

    .col-dt {
        flex-grow: 1;
        flex-basis: 0;
        max-width: 100%;
    }

    .col-dt-1 {
        flex-basis: calc(8.333% - 16px);
        max-width: calc(8.333% - 16px);
    }

    .col-dt-2 {
        flex-basis: calc(16.667% - 16px);
        max-width: calc(16.667% - 16px);
    }

    .col-dt-3 {
        flex-basis: calc(25% - 16px);
        max-width: calc(25% - 16px);
    }

    .col-dt-4 {
        flex-basis: calc(33.333% - 16px);
        max-width: calc(33.333% - 16px);
    }

    .col-dt-5 {
        flex-basis: calc(41.667% - 16px);
        max-width: calc(41.667% - 16px);
    }

    .col-dt-6 {
        flex-basis: calc(50% - 16px);
        max-width: calc(50% - 16px);
    }

    .col-dt-7 {
        flex-basis: calc(58.333% - 16px);
        max-width: calc(58.333% - 16px);
    }

    .col-dt-8 {
        flex-basis: calc(66.667% - 16px);
        max-width: calc(66.667% - 16px);
    }

    .col-dt-9 {
        flex-basis: calc(75% - 16px);
        max-width: calc(75% - 16px);
    }

    .col-dt-10 {
        flex-basis: calc(83.333% - 16px);
        max-width: calc(83.333% - 16px);
    }

    .col-dt-11 {
        flex-basis: calc(91.667% - 16px);
        max-width: calc(91.667% - 16px);
    }

    .col-dt-12 {
        flex-basis: calc(100% - 16px);
        max-width: calc(100% - 16px);
    }

    .col-dt-offset-1 {
        margin-left: 8.333%;
    }

    .col-dt-offset-2 {
        margin-left: 16.667%;
    }

    .col-dt-offset-3 {
        margin-left: 25%;
    }

    .col-dt-offset-4 {
        margin-left: 33.333%;
    }

    .col-dt-offset-5 {
        margin-left: 41.667%;
    }

    .col-dt-offset-6 {
        margin-left: 50%;
    }

    .col-dt-offset-7 {
        margin-left: 58.333%;
    }

    .col-dt-offset-8 {
        margin-left: 66.667%;
    }

    .col-dt-offset-9 {
        margin-left: 75%;
    }

    .col-dt-offset-10 {
        margin-left: 83.333%;
    }

    .col-dt-offset-11 {
        margin-left: 91.667%;
    }

    .col-dt-offset-container-left {
        margin-left: calc((100% - 1200px) / 2);
    }

    .col-dt-offset-container-right {
        margin-right: calc((100% - 1200px) / 2);
    }

    .start-dt {
        justify-content: flex-start;
        text-align: start;
    }

    .center-dt {
        justify-content: center;
        text-align: center;
    }

    .end-dt {
        justify-content: flex-end;
        text-align: end;
    }

    .top-dt {
        align-items: flex-start;
    }

    .middle-dt {
        align-items: center;
    }

    .bottom-dt {
        align-items: flex-end;
    }

    .around-dt {
        justify-content: space-around;
    }

    .between-dt {
        justify-content: space-between;
    }

    .first-dt {
        order: -1;
    }

    .last-dt {
        order: 1;
    }
}

/**
 * Tablet
 */
@media all and (max-width: 640px) {
    .container-fluid {
        margin: 0 0;
    }

    .container-fluid {
        margin: 0 8px !important;
    }

    .col-tl,
    .col-tl-1,
    .col-tl-2,
    .col-tl-3,
    .col-tl-4,
    .col-tl-5,
    .col-tl-6,
    .col-tl-7,
    .col-tl-8,
    .col-tl-9,
    .col-tl-10,
    .col-tl-11,
    .col-tl-12 {
        box-sizing: border-box;
        flex: 0 0 auto;
        padding-right: 2px;
        padding-left: 2px;
    }

    .col-tl {
        flex-grow: 1;
        flex-basis: 0;
        max-width: 100%;
    }

    .col-tl-1 {
        flex-basis: 8.333%;
        max-width: 8.333%;
    }

    .col-tl-2 {
        flex-basis: 16.667%;
        max-width: 16.667%;
    }

    .col-tl-3 {
        flex-basis: calc(25% - 16px);
        max-width: calc(25% - 16px);
    }

    .col-tl-4 {
        flex-basis: calc(33.333% - 16px);
        max-width: calc(33.333% - 16px);
    }

    .col-tl-5 {
        flex-basis: calc(41.667% - 16px);
        max-width: calc(41.667% - 16px);
    }

    .col-tl-6 {
        flex-basis: calc(50% - 16px);
        max-width: calc(50% - 16px);
    }

    .col-tl-7 {
        flex-basis: calc(58.333% - 16px);
        max-width: calc(58.333% - 16px);
    }

    .col-tl-8 {
        flex-basis: calc(66.667% - 16px);
        max-width: calc(66.667% - 16px);
    }

    .col-tl-9 {
        flex-basis: calc(75% - 16px);
        max-width: calc(75% - 16px);
    }

    .col-tl-10 {
        flex-basis: calc(83.333% - 16px);
        max-width: calc(83.333% - 16px);
    }

    .col-tl-11 {
        flex-basis: calc(91.667% - 16px);
        max-width: calc(91.667% - 16px);
    }

    .col-tl-12 {
        flex-basis: calc(100% - 16px);
        max-width: calc(100% - 16px);
    }

    .col-tl-offset-0 {
        margin-left: 0;
    }

    .col-tl-offset-1 {
        margin-left: 8.333%;
    }

    .col-tl-offset-2 {
        margin-left: 16.667%;
    }

    .col-tl-offset-3 {
        margin-left: 25%;
    }

    .col-tl-offset-4 {
        margin-left: 33.333%;
    }

    .col-tl-offset-5 {
        margin-left: 41.667%;
    }

    .col-tl-offset-6 {
        margin-left: 50%;
    }

    .col-tl-offset-7 {
        margin-left: 58.333%;
    }

    .col-tl-offset-8 {
        margin-left: 66.667%;
    }

    .col-tl-offset-9 {
        margin-left: 75%;
    }

    .col-tl-offset-10 {
        margin-left: 83.333%;
    }

    .col-tl-offset-11 {
        margin-left: 91.667%;
    }

    .start-tl {
        justify-content: flex-start;
        text-align: start;
    }

    .center-tl {
        justify-content: center;
        text-align: center;
    }

    .end-tl {
        justify-content: flex-end;
        text-align: end;
    }

    .top-tl {
        align-items: flex-start;
    }

    .middle-tl {
        align-items: center;
    }

    .bottom-tl {
        align-items: flex-end;
    }

    .around-tl {
        justify-content: space-around;
    }

    .between-tl {
        justify-content: space-between;
    }

    .first-tl {
        order: -1;
    }

    .last-tl {
        order: 1;
    }

    .full-tl-width {
        padding: 0;
    }

    .container {
        max-width: unset;
    }
}


@media all and (max-width: 1199px) {
    .col-dt-offset-container-left,
    .col-dt-offset-container-right {
        margin: 0;
    }
}

/**
 * Smartphone
 */
@media all and (max-width: 480px) {
    .container-fluid {
        margin: 0 0;
    }

    .col-sp,
    .col-sp-1,
    .col-sp-2,
    .col-sp-3,
    .col-sp-4,
    .col-sp-5,
    .col-sp-6,
    .col-sp-7,
    .col-sp-8,
    .col-sp-9,
    .col-sp-10,
    .col-sp-11,
    .col-sp-12 {
        box-sizing: border-box;
        flex: 0 0 auto;
        padding-right: 1.875pt;
        padding-left: 1.875pt;
    }

    .col-sp {
        flex-grow: 1;
        flex-basis: 0;
        max-width: 100%;
    }

    .col-sp-1 {
        flex-basis: 8.333%;
        max-width: 8.333%;
    }

    .col-sp-2 {
        flex-basis: 16.667%;
        max-width: 16.667%;
    }

    .col-sp-3 {
        flex-basis: 25%;
        max-width: 25%;
    }

    .col-sp-4 {
        flex-basis: 33.333%;
        max-width: 33.333%;
    }

    .col-sp-5 {
        flex-basis: 41.667%;
        max-width: 41.667%;
    }

    .col-sp-6 {
        flex-basis: calc(50% - 8px);
        max-width: calc(50% - 8px);
    }

    .col-sp-7 {
        flex-basis: 58.333%;
        max-width: 58.333%;
    }

    .col-sp-8 {
        flex-basis: 66.667%;
        max-width: 66.667%;
    }

    .col-sp-9 {
        flex-basis: 75%;
        max-width: 75%;
    }

    .col-sp-10 {
        flex-basis: 83.333%;
        max-width: 83.333%;
    }

    .col-sp-11 {
        flex-basis: 91.667%;
        max-width: 91.667%;
    }

    .col-sp-12 {
        flex-basis: 100%;
        max-width: 100%;
    }

    .col-sp-offset-0 {
        margin-left: 0;
    }

    .col-sp-offset-1 {
        margin-left: 8.333%;
    }

    .col-sp-offset-2 {
        margin-left: 16.667%;
    }

    .col-sp-offset-3 {
        margin-left: 25%;
    }

    .col-sp-offset-4 {
        margin-left: 33.333%;
    }

    .col-sp-offset-5 {
        margin-left: 41.667%;
    }

    .col-sp-offset-6 {
        margin-left: 50%;
    }

    .col-sp-offset-7 {
        margin-left: 58.333%;
    }

    .col-sp-offset-8 {
        margin-left: 66.667%;
    }

    .col-sp-offset-9 {
        margin-left: 75%;
    }

    .col-sp-offset-10 {
        margin-left: 83.333%;
    }

    .col-sp-offset-11 {
        margin-left: 91.667%;
    }

    .start-sp {
        justify-content: flex-start;
        text-align: start;
    }

    .center-sp {
        justify-content: center;
        text-align: center;
    }

    .end-sp {
        justify-content: flex-end;
        text-align: end;
    }

    .top-sp {
        align-items: flex-start;
    }

    .middle-sp {
        align-items: center;
    }

    .bottom-sp {
        align-items: flex-end;
    }

    .around-sp {
        justify-content: space-around;
    }

    .between-sp {
        justify-content: space-between;
    }

    .first-sp {
        order: -1;
    }

    .last-sp {
        order: 1;
    }

    .full-sp-width {
        padding: 0;
    }
}
