/*******************************************************
*
Theme Name:     Schwarz IT, Probeprojekt
Theme URI:
Description:
Version:       1.0
Author:        Maja Kopsch
License:       none (public domain)
Tags:          CSS Responsive Probeprojekt, 4 Spalten, Spalten in voller Breite, responsiv
*
*******************************************************/

/*******************************************************
*
    Universel Rules
    Colors
    Shadow
    Content
    Navi Content
    Main Content
    Footer Content
*
*******************************************************/

@media all {
    /*
    Universal Rules
    */
    *,
    html {
        box-sizing: border-box;
    }

    *, *:before, *:after {
        box-sizing: inherit;
    }

    @font-face {
        font-family: 'LidlFontCondPro';
        font-weight: bold;
        src: url(../fonts/LidlFontCondPro-Bold.woff) format('woff');
    }
    @font-face {
        font-family: 'LidlFontCondPro';
        font-weight: 400;
        src: url(../fonts/LidlFontCondPro-Regular.woff) format('woff');
    }
    @font-face {
        font-family: 'LidlFontCondPro';
        font-weight: 600;
        src: url(../fonts/LidlFontCondPro-Semibold.woff) format('woff');
    }

    a {
        cursor: pointer;
    }

    body {
        font-family: "LidlFontCondPro", sans-serif;
        color: #2F3A44;
        font-size: 18px;
        margin: 0 0;
    }

    .btn {
        border: none;
        background-color: #0050AA;
        border-radius: 0;
        background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, .3));
        cursor: pointer;
        color: #FFF;
        display: inline-block;
        line-height: normal;
        text-transform: uppercase;
        text-align: center;
        text-decoration: none;
        padding: .625rem 1.25rem;
        -webkit-user-drag: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        vertical-align: baseline;
        zoom: 1;
        font-weight: 700;
        font-size: 16px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .15);
    }

    h1 {
        font-size: 34px;
        line-height: 120%;
        font-weight: 700;
        margin-bottom: 32px;
    }

    h2 {
        font-size: 30px;
        line-height: 120%;
        font-weight: 600;
        margin-bottom: 16px;
    }

    h3 {
        font-size: 26px;
        line-height: 120%;
        font-weight: 600;
        margin-bottom: 8px;
    }

    h4 {
        font-size: 22px;
        line-height: 120%;
        font-weight: 600;
        margin-bottom: 8px;
    }

    h5 {
        font-size: 18px;
        line-height: 120%;
        font-weight: 600;
        margin-bottom: 8px;
    }

    .hide-dt {
        display: none;
    }

    p {
        margin-bottom: 32px;
    }

    .section-headline {
        font-size: 22px;
        line-height: 120%;
        font-weight: 700;
        text-transform: uppercase;
        margin: 16px 0;
        position: relative;
        text-align: center;
        word-wrap: break-word;
    }

    .section-headline span {
        background: #FaFaFA;
        display: inline-block;
        font-weight: 600;
        padding: 0 16px;
        position: relative;
        z-index: 1;
    }

    .section-headline p {
        margin-bottom: 32px;
    }

    ul {
        list-style: none;
    }

    /*
    Colors
    */
    /*Blue*/
    .background {
        background: #F7FBFC;
    }

    .background-font {
        color: #F7FBFC;
    }

    .base-bg {
        background: #0076BF;
    }

    .darker-bg {
        background: #06507F;
    }

    .darkest-bg {
        background: #054066;
    }

    .lightest-bg {
        background: #C5E0EF;
    }


    /*Yellow*/
    .base-bg {
        background: #FFF100;
    }

    .darker-orange-bg {
        background: #FDB338;
    }

    .darker-orange-bg {
        background: #FDB338;
    }

    .light-bg {
        background: #FFF458;
    }


    /*Gray*/
    .base-bg {
        background: #6D757C;
    }

    .lightest-gray-bg {
        background: #EAEBEC;
    }

    .superlight-gray-bg {
        background: #F2F3F4;
    }

    .website-background {
        background: #FaFaFA;
    }

    /*Gradient*/
    .brand-primary {
        background-color: #0050AA;
        background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, .3));
    }


    /*
    Shadow
    */
    .shadow-brand {
        box-shadow: rgba(0, 0, 0, 0.5) 2px 2px 5px 0px;
    }

    .shadow-default {
        box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 4px 0px;
    }

    /*
    Navi
    */
    .header {
        position: relative;
        background-color: #FFF;
        z-index: 3;
        font-size: 14px;
        height: auto;
    }

    header .logo {
        height: 112px;
        margin-top: 8px;
        display: block;
        border: 1px #FFFFFF solid;
    }

    .header > .top-navi {
        height: 44px;
        border-bottom: solid 1px #EAEBEC;
    }

    .header > .subnavi {
        overflow: hidden;
    }

    .mid-navi input {
        margin: 16px 0;
        border: 1px #6D757C solid;
        padding: 16px 10px 16px 24px;
        font-size: 16px;
        color: #6D757C;
        width: 100%;
        height: 56px;
    }

    .mid-navi .search {
        position: relative;
        display: flex;
        justify-content: center;
    }

    .mid-navi .search i {
        position: absolute;
        left: 0;
        top: 0;
        padding: 15px 15px;
        color: #FFFFFF;
        transition: .3s;
        font-size: 24px;
    }

    .mid-navi .search input:focus {
        color: #6D757C;
    }

    .mid-btn {
        width: 56px;
        height: 56px;
        position: absolute;
        right: 0;
        top: 16px;
    }

    .mid-navi .ende {
        display: inline-block;
        margin-top: 16px;
    }

    .mid-navi {
        position: relative;
        z-index: 1;
    }

    .paragraph .section-headline {
        font-weight: 300;
    }

    .sidemap {
        padding: 16px 0;
        margin-left: 32px;
    }

    .sidemap ul li {
        font-size: 16px;
    }


    .sub-navi li {
        display: inline-block;
        font-size: 26px;
        padding-right: 32px;
    }

    .margin-left-40 {
        margin: 0 0 0 -40px;
    }

    .sub-navi ul:not(.sub-navi-2 ul) {
        margin-bottom: 8px;
    }

    .sub-navi i {
        font-size: 12px;
    }

    .sub-navi-2 li {
        font-size: 18px;
    }

    .top-navi li {
        display: inline-block;
        font-size: 14px;
        padding-left: 14px;
        margin-bottom: 5px;
    }

    .top-navi .width-30 li a:first-child {
        margin-left: -70px;
    }

    .sub-navi ul li a:hover {
        border-bottom: #0050AA 4px solid;
        color: #0050AA;
    }

    /*
    Content
    */
    article {
        margin-top: 16px;
    }

    .body .offer {
        margin-bottom: 128px;
    }

    .body .offer img {
        width: calc(100% + 16px);
        margin-left: -1px;
        margin-top: 16px;
    }

    .border {
        border-bottom: 1px solid #eaebec;
        margin-bottom: 16px;
        width: calc(100% - 192px);
    }

    .content {
        position: relative;
    }

     .content .row h2 {
        margin-bottom: 32px;
        margin-top: 128px;
    }

    .content .selection {
        background: #0076BF;
        margin-top: 16px;
        height: 64px;
        width: 100%;
    }

    .content .selection img {
        width: 100%;
    }

    .content .selection span {
        text-decoration: underline;
        margin-right: 16px;
    }

    .content .teaser {
        margin-bottom: 32px;
    }

    .content .teaser img {
        width: 100%;
        margin-bottom: 16px;
    }

    .content-height {
        display: block;
        min-height: 100%;
        height: auto !important;
    }

    .ende {
        justify-content: right;
    }

    .flex-container {
        display: flex;
        flex-flow: row wrap;
    }

    .header-box {
        background: rgba(109, 117, 124, 0.8);
        bottom: 0;
        height: 225px;
        position: absolute;
        width: 100%;
    }

    .label-box .btn {
        height: 64px;
        margin-top: 39px;
        width: calc(20% - 16px);
    }

    .header-box .container-fluid {
        margin: 32px 88px;
    }

    .header-box .label-box .filter {
        color: #FFFFFF;
        display: inline-block;
        margin-top: 32px;
        width: 100%;
    }

    .header-box .filter div {
        text-decoration: underline;
    }

    .header-box .label-box label {
        color: #FFFFFF;
        font-weight: 700;
    }

    .header-box .label-box select {
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        border: none;
        color: #6D757C;
        font-size: 16px;
        height: 64px;
        margin-top: 16px;
        padding: 0 8px;
        position: relative;
        width: 100%;
    }

    .header-box .wrapper {
        position: relative;
        width: calc(20% - 16px);
    }

    .header-box .wrapper::before {
        color: #6D757C;
        content: "\f078";
        font-family: FontAwesome;
        font-size: 20px;
        right: 16px;
        position: absolute;
        top: 58%;
        pointer-events: none;
        z-index: 1;
    }

    .header-box .row {
        margin-top: 8px;
    }

    .header-img {
        position: relative;
    }

    .header-img img {
        width: 100%;
    }

    .left {
        text-align: left;
    }

    .margin-bottom-128 {
        margin-bottom: 128px;
    }

    .mobile-container {
        display: contents;
        position: relative;
        margin: 0 auto;
    }

    .paragraph {
        font-size: 18px;
        margin: 48px 0;
        padding: 0 20%;
    }

    .paragraph p {
        margin-bottom: 0px;
    }

    .right {
        text-align: right;
    }

    section .border-both-sides::after {
        content: "";
        position: absolute;
        left: 0;
        top: 70%;
        width: 100%;
        border: 1px solid
        #eaebec;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    .width-10 {
        width: calc(10% - 16px);
        display: inline-block;
    }

    .width-30 {
        width: calc(30% - 16px);
        display: inline-block;
    }

    .width-60 {
        width: calc(60% - 16px);
        display: inline-block;
    }

    /*Slick-Slider*/
    .slider {
        width: 100%;
        margin: 32px 0;
    }

    .slick-slide img {
        width: 100%;
    }

    .slick-list {
        margin-left: -10px!important;
        width: calc(100% + 16px); /* add double the px size of slide space */
    }

    .slick-slide {
        box-sizing: border-box;
        width: 100%;
        margin: 0px 8px;
        transition: all ease-in-out .3s;
        opacity: 1 !important;
    }

    .slick-active {
        opacity: .5;
    }

    .slick-current {
        opacity: 1;
    }

    .slider img {
        width: 100%;
    }

    .slick-prev {
        display: block;
        height: 70px !important;
        left: -47px!important;
        width: 35px !important;
        background: url('../image/prev.png') no-repeat !important;
    }

    .slick-next {
        display: block;
        height: 70px !important;
        right: -41px !important;
        width: 35px !important;
        background: url('../image/next.png') no-repeat !important;
    }

    .slick-prev::before, .slick-next::before {
        color: #FFFFFF !important;
        font-family: none !important;
        font-size: 0 !important;
    }
}

/**
 * Smartphone
 */
@media all and (max-width: 480px) {
    .body .offer {
        margin-bottom: 16px;
    }

    .body .offer .btn {
        font-size: 12px;
    }

    .body .offer img {
        width: calc(100% + 7px);
    }

    .container-navi {
        margin: 0 8px;
        width: 100%;
    }

    .content .row h2 {
        margin-top: 64px;
    }

    .content .selection {
        margin-top: 0px;
    }

    .filter {
        display: none !important;
    }

    .header {
        margin: 0 0 !important;
        height: 58px;
    }

    .header-img .btn {
        font-size: 18px;
        height: 70px;
        margin: 16px 8px;
        width: calc(100% - 16px);
    }

    .header-img .btn i {
        font-size: 24px;
        margin-right: 16px;
    }

    .header-img img {
        height: 250px;
        width: auto;
    }

    header .logo {
        height: 45px;
    }

    .hide-dt {
        display: block;
    }

    .hide-sp {
        display: none;
    }

    .header-box {
        background: none;
    }

    .margin {
        margin-left: 15px;
    }

    .margin-bottom-128 {
        margin-bottom: 0;
    }

    .margin-top-64 {
        margin-top: 64px;
    }

    .more p {
        text-align: center;
    }

    .navi-sp {
        display: inline-block;
        height: 42px;
    }

    .navi-sp .nav-img img {
        height: 60%;
        margin-top: 10px;
    }

    .navi-sp .row {
        column-gap: unset;
    }

    .paragraph {
        line-height: 135%;
        padding: 0 8px;
    }

    .paragraph p {
        margin-top: 8px;
    }

    .section-headline {
        margin-bottom: 8px;
    }

    .section-headline span {
        width: 65%;
        font-size: 24px;
    }

    .shadow-brand {
        box-shadow: rgba(0, 0, 0, 0.5) 1px 1px 3px 0px;
    }

    .slick-slide {
        margin: 0 8px;
    }

    .slick-next, .slick-prev {
        display: none!important;
    }

    .slider {
        width: 100%;
        margin: 32px 0;
    }

    .width-20 {
        width: calc(20% - 8px);
        display: inline-block;
    }

    .width-80 {
        max-width: calc(80% - 8px);
        display: inline-block;
    }

    .width-80-sp {
        width: 96%!important;
    }
}

/**
 * Tablet
 */
@media all and (max-width: 1050px) and (min-width: 481px) {
    .body .offer {
        margin-bottom: 32px;
    }

    .body .offer .btn {
        font-size: 12px;
    }

    .body .offer img {
        width: calc(100% + 7px);
    }

    .content .row h2 {
        margin-top: 64px;
    }

    .container-navi {
        margin: 0 8px;
        width: 100%;
    }

    .filter {
        display: none !important;
    }

    header .logo {
        height: 45px;
    }

    .header {
        margin: 0 0 !important;
        height: 58px;
    }

    .header-img .btn {
        font-size: 18px;
        height: 70px;
        margin: 16px 8px;
        width: calc(100% - 16px);
    }

    .header-img .btn i {
        font-size: 24px;
        margin-right: 16px;
    }

    .hide-tl {
        display: none;
    }

    .hide-dt {
        display: block;
    }

    .header-box {
        background: none;
    }

    .margin {
        margin-left: 50px;
    }

    .margin-bottom-32 {
        margin-bottom: 32px;
    }

    .margin-bottom-128 {
        margin-bottom: 0;
    }

    .margin-top-64 {
        margin-top: 64px;
    }

    .more p {
        text-align: center;
    }

    .navi-tl {
        display: inline-block;
        height: 42px;
    }

    .navi-tl .nav-img img {
        height: 70%;
        margin-top: 10px;
    }

    .navi-tl .row {
        column-gap: unset;
    }

    .paragraph p {
        margin-top: 8px;
    }

    .width-20 {
        width: calc(20% - 8px);
        display: inline-block;
    }

    .width-80 {
        width: calc(80% - 8px);
        display: inline-block;
    }

}

@media all and (max-width: 1430px) and (min-width: 1051px){
    .body .offer img {
        width: calc(100% + 10px);
    }

    .header-box .label-box select {
        font-size: 12px;
    }
    .mid-btn {
        width: 40px;
        height: 40px;
        right: 0;
        margin-left: 30px;
    }

    .mid-navi .search i {
        padding: 7px 9px;
        font-size: 19px;
    }

    .search input {
        padding-left: 8px;
        margin-left: 30px;
        height: 40px;
        font-size: 12px;
        width: 100%;
    }

    .top-navi li:first-of-type {
        padding-left: 50px;
    }
}

/**
 * Desktop
 */
@media all and (max-width: 1199px) {
    .col-dt-offset-container-left,
    .col-dt-offset-container-right {
        margin: 0;
    }

    .mid-btn {
        width: 40px;
        height: 40px;
        right: -6px;
    }

    .mid-navi .search i {
        padding: 7px 9px;
        font-size: 19px;
    }

    .search input {
        padding-left: 50px;
        height: 40px;
        font-size: 7px;
        width: 50%;
    }

    .search input {
        padding: 10px 10px 10px 24px;
        font-size: 14px;
        margin-left: 30%;
    }

    .top-navi li a {
        font-size: 14px;
    }

    .top-navi .width-30 li a:first-of-type {
        margin-left: -16px;
    }
}
