<section class="content">
    <div class="row hide-tl hide-sp">
        <h2 class="col-dt-12 col-tl-12 col-sp-12 section-headline border-both-sides">
            <span>LOREM IPSUM WEITERE TEASER</span></h2>
    </div>
    <div class="row teaser hide-sp hide-tl">
        <div class="col-dt-4 col-tl-4 col-sp-6">
            <img  src=".//image/small-image.png">
        </div>
        <div class="col-dt-4 col-tl-4 col-sp-6">
            <img  src=".//image/small-image.png">
        </div>
        <div class="col-dt-4 col-tl-4 col-sp-6">
            <img  src=".//image/small-image.png">
        </div>
        <div class="col-dt-4 col-tl-4 col-sp-6">
            <img  src=".//image/small-image.png">
        </div>
        <div class="col-dt-4 col-tl-4 col-sp-6">
            <img  src=".//image/small-image.png">
        </div>
        <div class="col-dt-4 col-tl-4 col-sp-6">
            <img  src=".//image/small-image.png">
        </div>
        <div class="col-dt-4 col-tl-4 col-sp-6">
            <img  src=".//image/small-image.png">
        </div>
        <div class="col-dt-4 col-tl-4 col-sp-6">
            <img  src=".//image/small-image.png">
        </div>
        <div class="col-dt-4 col-tl-4 col-sp-6">
            <img  src=".//image/small-image.png">
        </div>
    </div>
    <div class="row margin-bottom-128">
        <div class="col-dt-12 paragraph">
            <h4 class="section-headline">If there's two big trees</h4>
            <p class="center-dt">If there's two big trees invariably sooner or later there's gonna be a little tree. It's a super day, so why not make a beautiful sky?
                Now, we're going to fluff this cloud. You can create the world you want to see and be a part of. You have that power. If it's not what you want - stop and change it.
                Don't just keep going and expect it will get better. That's what painting is all about. It should make you feel good when you paint.
            </p>
        </div>
    </div>
    <div class="more hide-dt row margin-bottom-32">
        <div class="col-dt-12">
            <div><p>mehr anzeigen <i class="fa fa-chevron-down"></i></p></div>
        </div>
    </div>
</section>
