<section class="hide-tl hide-sp">
    <div class="row">
        <div class="col-dt-12 paragraph">
            <p class="center-dt">Give him a friend, we forget the trees get lonely too.
                When you buy that first tube of paint it gives you an artist license. Just let these leaves jump off the brush Think about a cloud.
                Just float around and be there. You have to make those little noises or it won't work. Let the paint work. When you do it your way you can go anywhere you choose. No pressure.
                Just relax and watch it happen.
            </p>
        </div>
    </div>
</section>
<section class="row content">
    <div class="row">
        <h2 class="col-dt-12 col-tl-12 col-sp-12 section-headline border-both-sides"><span class="width-80-sp">LOREM IPSUM PRODUKTTEASER</span></h2>
    </div>
    <div class="row">
        <div class="col-dt-4 col-tl-4  col-sp-6 offer">
            <button class="btn selection"><span>Link zur SEL</span><i class="fa fa-chevron-right"></i></button>
            <img src=".//image/angebot1.png" alt="angebot">
        </div>
        <div class="col-dt-4 col-tl-4 col-sp-6 offer">
            <button class="btn selection"><span>Link zur SEL</span><i class="fa fa-chevron-right"></i></button>
            <img src=".//image/angebot1.png" alt="angebot">
        </div>
        <div class="col-dt-4 col-tl-4 col-sp-6 offer">
            <button class="btn selection"><span>Link zur SEL</span><i class="fa fa-chevron-right"></i></button>
            <img src=".//image/angebot1.png" alt="angebot">
        </div>
    </div>
</section>
