<section>
    <div class="">
        <div class="header-img">
            <div>
                <div class="row">
                    <img src=".//image/platzhalter.png">
                </div>
                <div class="row col-sp-12 hide-dt">
                    <button class="btn"><i class="fa fa-sliders"></i>
                        MEINE REISE FINDEN
                    </button>
                </div>
                <div class="header-box">
                    <form action="#" class="container-fluid">
                        <div class="label-box">
                            <div class="row">
                                <label class="wrapper hide-tl hide-sp">Reiseart:
                                    <select name="top5">
                                        <option>Bitte auswählen</option>
                                        <option>per Schiff</option>
                                        <option>zu Fuß</option>
                                        <option>per Flugzeug</option>
                                        <option>alleine</option>
                                    </select>
                                </label>
                                <label class="wrapper hide-tl hide-sp">Reisende:
                                    <select name="top5">
                                        <option>2 Erwachsene</option>
                                        <option>2 Erwachsene + 1 Kind</option>
                                        <option>2 Erwachsene + 2 Kinder</option>
                                        <option>2 Erwachsene + 3 Kinder</option>
                                        <option>1 Erwachsener</option>
                                    </select>
                                </label>
                                <label class="wrapper hide-tl hide-sp">Reiseziel:
                                    <select name="top5">
                                        <option>Land, Region, Ort, Hotel</option>
                                        <option>Bali</option>
                                        <option>Japan</option>
                                        <option>Thailand</option>
                                        <option>Deutschland</option>
                                    </select>
                                </label>
                                <label class="wrapper hide-tl hide-sp">Zeitraum & Dauer:
                                    <select name="top5">
                                        <option>1 Woche</option>
                                        <option>1,5 Wochen</option>
                                        <option>2 Wochen</option>
                                        <option>3 Wochen</option>
                                    </select>
                                </label>
                                <button class="btn hide-sp hide-tl">
                                    MEINE REISE FINDEN
                                </button>
                            </div>
                            <div class="row filter">
                                <div class="col-dt-12">
                                    <div class="right">weitere Filter <i class="fa fa-chevron-down"></i></div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
