<nav class="header">
    <section class="top-navi base-bg row background-font hide-sp hide-tl">
        <div class="container-navi row">
            <div class="width-10">
                <img class="logo" src="image/logo.png">
            </div>
            <div class="width-30">
                <ul>
                    <li class="left top-navi">
                        <a>lidl-reisen.de</a>
                    </li>
                </ul>
            </div>
            <div class="width-60 row">
                <ul class="right">
                    <li>
                        <a>Verantwortung</a>
                    </li>
                    <li>
                        <a>Unternehmen</a>
                    </li>
                    <li>
                        <a>Karriere</a>
                    </li>
                    <li>
                        <a>Service & Hilfe</a>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <section class="hide-dt">
        <div class="container-navi navi-tl navi-sp">
            <div class="row">
                <div class="mobile-container">
                    <div class="col-dt-2 col-tl-2 col-sp-2">
                        <img class="logo" src="image/logo.png">
                    </div>
                    <div class="col-dt-8 col-tl-8 col-sp-8 margin">
                        <div class="row nav-img right flex-container ende">
                            <a><img class="logo" src="image/lupe.png"></a>
                            <a><img class="logo" src="image/prospect.png"></a>
                            <a><img class="logo" src="image/printer.png"></a>
                            <a><img class="logo" src="image/burger.png"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="mid-navi hide-sp hide-tl">
        <div class="container-navi">
            <div class="row">
                <div class="col-dt-offset-1 col-tl-offset-2 col-dt-3 col-tl-3 search hide-tl">
                    <input id="search" maxlength="12" minlength="4"
                           name="search" placeholder="Ziel, Hotel, Buchungscode, ..." size="10" type="search">
                    <button class="btn brand-primary mid-btn">
                    <i class="fa fa-search fa-fw" aria-hidden="true"></i>
                </button>
                </div>
                <div class="col-dt-8">
                    <div class="row right flex-container ende">
                        <a><img class="mid-img" src="image/prospekte.png"></a>
                        <a><img style="width: 59px" class="mid-img" src="image/newsletter.png"></a>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <section class="sub-navi margin-left-40 hide-sp hide-tl">
        <div class="list container-navi left border">
            <ul>
                <li>
                    <a>Angebote</a>
                </li>
                <li>
                    <a>Onlineshop</a>
                </li>
                <li>
                    <a>Fashionweek</a>
                </li>
                <li>
                    <a>Reisen</a>
                </li>
                <li>
                    <a>Fotos</a>
                </li>
                <li>
                    <a>Blumen</a>
                </li>
                <li>
                    <a>Kochboxen</a>
                </li>
                <li>
                    <a>Rezeptideen</a>
                </li>
                <li>
                    <a>Connect</a>
                </li>
                <li>
                    <a>Partneraktionen</a>
                </li>
                <li>
                    <a>Testergebnisse</a>
                </li>
                <li>
                    <a>Karriere</a>
                </li>
            </ul>
        </div>
        <div class="container-navi">
            <ul class="sub-navi-2">
                <li>
                    <a>Aktuelle Reiseprospekte<i class="fa fa-chevron-up fa-fw" aria-hidden="true"></i></a>
                </li>
                <li>
                    <a>Beliebte Reiseziele<i class="fa fa-chevron-down fa-fw" aria-hidden="true"></i></a>
                </li>
                <li>
                    <a>Reisearten<i class="fa fa-chevron-down fa-fw" aria-hidden="true"></i></a>
                </li>
                <li>
                    <a>Online-Highlights<i class="fa fa-chevron-down fa-fw" aria-hidden="true"></i></a>
                </li>
                <li>
                    <a>Last Minute<i class="fa fa-chevron-down fa-fw" aria-hidden="true"></i></a>
                </li>
                <li>
                    <a>Partnerangebote<i class="fa fa-chevron-down fa-fw" aria-hidden="true"></i></a>
                </li>
            </ul>
        </div>
        <div class="sidemap superlight-gray-bg">
            <ul class="container-navi">
                <li><i class="fa fa-home fa-lg" style="font-size: 20px" aria-hidden="true"></i></li>
                <li><i class="fa fa-chevron-right" aria-hidden="true"></i>Level 1</li>
                <li><i class="fa fa-chevron-right" aria-hidden="true"></i>Level 2</li>
                <li><i class="fa fa-chevron-right" aria-hidden="true"></i>Level 3</li>
                <li><i class="fa fa-chevron-right" aria-hidden="true"></i>Level 4</li>
                <li style="color: #0050AA; font-weight: 600"><i class="fa fa-chevron-right" aria-hidden="true"></i>Level 5</li>
            </ul>
        </div>
    </section>
</nav>
